@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "karla", sans-serif;
    font-weight: 500;
    font-size: large;
    overflow: auto;
}


*::-webkit-scrollbar {
    display: none; /* Fully hides the scrollbar on Webkit browsers */
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.x-center{
    justify-content: center;
}

.y-center{
    align-items: center;
}

.body-container{
    background-color: #0f0f0f;
    width: 100vw;
    height: 100vh;
    color: #f1f1f1;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 25px;
    /* margin: auto ; */
    justify-content: space-between; 
    align-items: center;
    z-index: 1000;
    background-color: #0f0f0f;
}

.left-nav i, .right-nav i{
    display: block;
   font-size: 30px; 
   padding-right: 20px;
}

.center-nav{
    align-items: center;
    /* background-color: #d1cfcf; */
    border-radius: 20px;
    border: 1px solid #6b6868;
    color: #6b6868;
}

.search-container{
    background-color: #0f0f0f;
    color: #6b6868;
    display: flex;
    flex-direction: row;
    width: 40vw;
}

.search{
    width: 95%;
    margin: 3px 0px;
    background-color: #0f0f0f;
    border: none;
    outline: none;
    padding: 5px 20px;
}

.search-button {
    width: 10%;
    border: none;
    background-color: #0f0f0f;
    background-color: #c5c2c2;
    object-fit: contain;
}
 

.wrapper {
    background-color: #0f0f0f;
    margin: 52px auto;
    display: flex;
}

.sidebar {
    position: fixed;
    height: 100vh; /* Full viewport height */
    width: 17vw; /* Responsive width */
    /* background-color: #333;  */
    background-color: #0f0f0f;
    color: #fff;
    padding: 0px 20px;
    overflow-y: auto; /* Scroll if sidebar content exceeds height */
    z-index: 1000;
    font-size: 14px;
    color: #AAAAAA;
    line-height: 2em;
    margin-top: 30px;
}

.sidebar div{
    padding: 10px 0px;
}

.sidebar i{
    margin-right:20px;
}

.main-content {
    margin-left: 18%; 
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
}

.tagline {
    position: fixed;
    height: 50px;
    /* background-color: #333; */
    background-color: #0f0f0f;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    z-index: 1000;
    font-size: 14px;
    color: #AAAAAA;
}

.tagline span{
    background-color: #AAAAAA;
    padding: 2px 10px;
    margin: 0px 10px;
    border-radius: 10px;
    color: #0f0f0f;
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.video-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px;
    /* padding: 50px 0px; */
    /* margin-left: -25px; */
    height: 100vh;
    scroll-behavior: smooth;
}

.video-card {
    width: 300px;
    height: 350px;
    /* margin-right: 20px; */
    overflow: hidden;
} 

.video-card img.thumbnail {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.video-details{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.channel-logo{
    width: 30%;
    height: 100%;
    border-radius: 50%;
}

.channel-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {    
    display: -webkit-box;         /* Creates a flex container for text */
    -webkit-line-clamp: 2;        /* Limits text to 2 lines */
    -webkit-box-orient: vertical; /* Specifies the orientation for -webkit-box */
    overflow: hidden;          /* Hides overflowed text */
    font-size: 16px;
    width: 100%;
    max-height: 2.4em; /* Approx height for 2 lines  */
    line-height: 1.2em; /* Line height */
    text-overflow: ellipsis; 
}


.channel-name {
    font-size: 14px;
    color: #AAAAAA;
    line-height: 2em;
}